<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/imgs/login_card.jpg" />
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-button  (click)="GoogleLog()">
          Login with Google <ion-icon color="#DB4437" name="logo-google"></ion-icon> 
        </ion-button>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
