<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/imgs/login_card.jpg" />
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Username" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button (click)="LogIn()">
       Login 
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
