.avatar{
    border-radius: 50%;
}
.item{
    //display: flex;
    align-items: center;
    justify-content: center;
}
.item2{
    align-items: center;
    justify-content: center;
    display: flex;
}