<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-down" ios="chevron-down-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="down">
      <ion-fab-button color="light"  (click)="LogIn()">
        <ion-icon name="enter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light"  (click)="LogOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-app>
