<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ángel Aznar CV
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-card *ngFor="let item of data.Es_cv; index as i">
        <ion-card-header>
          <img src= {{item.img}}/>
          <ion-card-subtitle>{{item.title}}</ion-card-subtitle>
          <ion-card-title>{{item.subtitle}}</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          {{item.content}}
        </ion-card-content>
    </ion-card>
  </ion-grid>

 
</ion-content>